<div class="container results-container">
  <ais-instant-search
  :search-client="searchClient"
  index-name="products"
>

<ais-configure  v-if="haveRouteParam === true" :query="searchQuery" :facetFilters="['categories:' + currentRouteParamsForFilter]"/>

<ais-configure  v-else :query="searchQuery"/>

<div class="results-container">
  <div class="refinement-container">
    <ais-refinement-list attribute="color" :limit="5" :searchable="false"/>
  </div>
<ais-hits>
<div id="pop-product-list" class="row" slot-scope="{ items }" v-if="items.length > 0">
        <div v-for="item in items" :key="item.objectID" class="col-xs-12 col-sm-6 col-md-4">
            <router-link :to="productRoute(item['slug.en'], item.sku)">
            <div class="shop-item">
                <div class="pop-product-image">
             <img class="img-lazy"
                  :src="item.images"
                  :alt="item.sku"/>
           </div>
                <div class="pop-product-name">
                    <span data-test="product-thumbnail-name" class="name-headline">
                    {{ item["name.en"] }}
                    </span>
                </div>
            </div>
        </router-link>
        </div>
</div>
<div v-else>
  <div class="empty-results-container">
    <span class="empty-results">
      No results
    </span>
  </div>
</div>
</ais-hits>
</div>
</ais-instant-search>
</div>

</div>
